@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib" />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="/AdminDek/css/bootstrap.min.css?v=ufobeK9hL4NeNsK351nRWqV0hR8vt91VZUKvXEri1P8">
    <link rel="stylesheet" href="/AdminDek/css/themify-icons.css?v=PdkeN3A7zFtGxtcN5QubWOws8X9FOpQHjtBThIOCCZQ">
    <link href="/asset/general/modal.css?v=8IrUZ28Pan-5sW9s1nq0l8OykUNaQvID9UmExULBzdI" rel="stylesheet" />
    <link href="/asset/Facultative_Common_Files/report.css?v=4jkns9SatikKoSLKWkU9h1fRUGN-Vs7Zi0SI5Ob6SX0" rel="stylesheet" />
    <link href="/asset/Facultative_Common_Files/assesment.css?v=FZZ5sPbowQe7rRm9nCO1STTc1e9Sdl2Y486a927_zFk" rel="stylesheet" />
</head>

<body>
    <input type="hidden" value="2" id="hdnClassOfBusinessId" />
    <input type="hidden" value="232837" id="hdnContractid" />
    <input type="hidden" id="hdnContractController" value=Fire_and_Allied_Perils />

    <style>
        .detail-assesment-table {
            padding: 3px;
        }

            .detail-assesment-table thead tr th {
                text-align: center;
                border: 1px solid #333;
                font-weight: normal;
            }

            .detail-assesment-table thead tr th {
                text-align: center;
                border: 1px solid #333;
                font-weight: normal;
            }

            .detail-assesment-table .address {
                width: 50% !important;
            }

        .total-row {
            background: #dcdcdc;
        }

            .total-row * {
                font-weight: 600 !important;
            }

        #td-PerilsCovered p {
            display: inline-block !important;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 3px;
        }
    </style>
    <div>
        <input type="hidden" id="hdnContractController" value=Fire_and_Allied_Perils />
        <table class="content-table">
            <thead>
                <tr>
                    <th colspan="3">
                        <div class="row">
                            <div class="col col-xs-12 col-sm-4 col-md-2 col-xl-2">
                                <img src="/images/system/company.png" style="max-width:300px" onerror="this.onerror=null; this.src='/images/system/NOIMAGEAVAILABLE.png';this.classList.add('NOIMAGEAVAILABLE_100');" />
                            </div>
                            <div class="col col-xs-12 col-sm-8 col-md-10 col-xl-10 page-title">
                                <p id="gotoWizard">Reference Code: ACC20240064</p>
                                <p> Acceptance No.: 4-402/FA-0/FR/460/909</p>
                                <p>Acceptance Date: 1/23/2024 (1402/11/03)</p>
                                <p>
                                    Cedant Reconfirmation Date: 1/24/2024 (1402/11/04)
                                </p>
                                <p>-</p>
                            </div>
                        </div>
                        <div class="row second-title">
                            <div class="col col-xs-12">
                                <p>Fire and Allied Perils</p>
                                <p>Risk Assessment & Reinsurance Facultative Acceptance</p>
                            </div>
                        </div>
                    </th>
                </tr>

            </thead>
        </table>
        <table class="content-table">
            <thead>
                <tr class="data-header">
                    <th class="row-No">No.</th>
                    <th class="row-Name">Assessing Items</th>
                    <th class="row-Dscr">Description</th>
                </tr>
            </thead>
            <tbody class="data-body">
                <tr>
                    <td class="row-No">1</td>
                    <td class="row-Name">
                        <span>Ceding Company / Broker</span>
                    </td>
                    <td class="row-Dscr">
                        <span>Ta&#x27;avon Insurance Company</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">2</td>
                    <td class="row-Name">
                        <span>Original Insurer</span>
                    </td>
                    <td class="row-Dscr">
                        <span>Ta&#x27;avon Insurance Company</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">3</td>
                    <td class="row-Name">
                        <span>Original Insured</span>
                    </td>
                    <td class="row-Dscr">
                        <p>&#x634;&#x631;&#x6A9;&#x62A; &#x633;&#x647;&#x627;&#x645;&#x6CC; &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647; &#x647;&#x627;&#x6CC; &#x628;&#x6CC;&#x646; &#x627;&#x644;&#x645;&#x644;&#x644;&#x6CC;</p>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">4</td>
                    <td class="row-Name">
                        <span>Policy Number</span>
                    </td>
                    <td class="row-Dscr">
                        <span>02/3593/2269/1101/1</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">5</td>
                    <td class="row-Name">
                        <span>Cedant Reference</span>
                    </td>
                    <td class="row-Dscr">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">6</td>
                    <td class="row-Name">
                        <span>Country of Ceding Company</span>
                    </td>
                    <td class="row-Dscr">
                        <span>Iran</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">7</td>
                    <td class="row-Name">
                        <span>Location of Risk</span>
                    </td>
                    <td class="row-Dscr">
                        <p><p> ایران </p><p style='font-weight: bold;'> تهران  - <span style='font-weight: bold;'> تهران </span> </p> <span> <span>محله آرارات، بزرگراه شهید چمران، خیابان نمایشگاه</span><span style='font-weight: bold;'>-</span>  </span><br style='margin-bottom: 1em !important;' /></p>
                    </td>
                </tr>

                <tr>
                    <td class="row-No">8</td>
                    <td class="row-Name">
                        <span>Type of Policy</span>
                    </td>
                    <td class="row-Dscr">
                        <p><span>Non-Industrial</span></p>

                    </td>
                </tr>



                <tr>
                    <td class="row-No">9</td>
                    <td class="row-Name">
                        <span>Business</span>
                    </td>
                    <td class="row-Dscr">
                        <span>&#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647; &#x62F;&#x627;&#x626;&#x645;&#x6CC; &#x628;&#x6CC;&#x646; &#x627;&#x644;&#x645;&#x644;&#x644;&#x6CC;</span>
                    </td>
                </tr>






                <tr>
                    <td class="row-No">10</td>
                    <td class="row-Name">
                        <span>Policy Period</span>
                    </td>
                    <td class="row-Dscr">
                        365 Days </br>1/14/2024 To 1/13/2025 (1402/10/24 To 1403/10/24)
                    </td>
                </tr>

                <tr>
                    <td class="row-No">11</td>
                    <td class="row-Name">
                        <span>Period of Reinsurance Coverage</span>
                    </td>
                    <td class="row-Dscr">

                        365 Days </br> 1/14/2024 To 1/13/2025 (1402/10/24 To 1403/10/24)

                    </td>
                </tr>
                <tr>
                    <td class="row-No">12</td>
                    <td class="row-Name">
                        <span>Perils Covered</span>
                    </td>
                    <td class="row-Dscr">
                        Fire - Lighting - Explosion - Earthquake and Volcanic Eruption - Flood - Storm, tornadoes and Strong Winds - Bursting  or overflowing of Water Tanks, apparatus or pipes - Waste from rainwater and snowmelt - Explosion of under pressure vessels - Deformation of under pressure vessels - Wreckage Removal - Burglary - Strikes, riots, Civil Commotion and malicious Damage - Landslide and subsidence - Broken Glass - Financial Liability (due to Fire, Explosion, Lighting and Bursting Water Pipe) for neighbors
                    </td>
                </tr>

                <tr>
                    <td class="row-No">13</td>
                    <td class="row-Name">
                        <span>Exclusions</span>
                    </td>
                    <td class="row-Dscr">
                        <span>ساختمان های با سازه چوبی، خشتی، گلی، کاهگلی و امثالهم؛<br />اموال منقول بیمه شده مستقر در محوطه باز، غیر محصور و غیر مسقف؛</span>

                    </td>
                </tr>


                <tr>
                    <td class="row-No">14</td>
                    <td class="row-Name">
                        <span>Loss Record</span>
                    </td>
                    <td class="row-Dscr">
                        <span>طبق مندرجات نامه شماره 1402/ص/6010 مورخ 1402/11/03 ریسک فوق فاقد سابقه خسارت می باشد</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">15</td>
                    <td class="row-Name">
                        <span>Currency / Rate of Exchange</span>
                    </td>
                    <td class="row-Dscr">
                        <span>-</span>
                    </td>
                </tr>

                <tr>
                    <td class="row-No">16</td>
                    <td class="row-Name"><span>Sum Insured/Loss Limit</span></td>
                    <td>
                        <table style="border: 3px double #777 !important;">
                            <tr>
                                <td class="currency-title">IRR</td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-left">
                                        <span>
                                            <b>
                                                Sum Insured: IRR 19,154,570,000,000
                                            </b>
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x627;&#x631;&#x632;&#x634; &#x6A9;&#x644; &#x627;&#x628;&#x646;&#x6CC;&#x647; &#x633;&#x627;&#x644;&#x646; &#x647;&#x627;&#x60C; &#x633;&#x627;&#x62E;&#x62A;&#x645;&#x627;&#x646; &#x647;&#x627;&#x60C; &#x633;&#x627;&#x644;&#x646; &#x647;&#x627;&#x6CC; &#x647;&#x645;&#x627;&#x6CC;&#x634; &#x648; &#x62A;&#x627;&#x633;&#x6CC;&#x633;&#x627;&#x62A; &#x648; &#x645;&#x646;&#x635;&#x648;&#x628;&#x627;&#x62A;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 14,304,570,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x627;&#x631;&#x632;&#x634; &#x6A9;&#x644; &#x62A;&#x627;&#x633;&#x6CC;&#x633;&#x627;&#x62A; &#x628;&#x647; &#x647;&#x645;&#x631;&#x627;&#x647; &#x633;&#x627;&#x62E;&#x62A;&#x645;&#x627;&#x646; &#x647;&#x627; &#x648; &#x62A;&#x62C;&#x647;&#x6CC;&#x632;&#x627;&#x62A; &#x62A;&#x627;&#x628;&#x644;&#x648; &#x647;&#x627;&#x6CC; &#x67E;&#x633;&#x62A; &#x647;&#x627;&#x6CC; &#x628;&#x631;&#x642; &#x641;&#x634;&#x627;&#x631; &#x642;&#x648;&#x6CC;&#x60C; &#x645;&#x62A;&#x648;&#x633;&#x637;&#x60C; &#x636;&#x639;&#x6CC;&#x641; &#x67E;&#x627;&#x633;&#x627;&#x698; &#x648; &#x6A9;&#x6CC;&#x648;&#x633;&#x6A9; &#x647;&#x627;&#x6CC; &#x631;&#x648;&#x634;&#x646;&#x627;&#x6CC;&#x6CC; &#x628;&#x647; &#x62A;&#x639;&#x62F;&#x627;&#x62F; 18 &#x67E;&#x633;&#x62A;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 2,000,000,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x627;&#x631;&#x632;&#x634; &#x6A9;&#x644; &#x62A;&#x627;&#x633;&#x6CC;&#x633;&#x627;&#x62A; &#x628;&#x647; &#x647;&#x645;&#x631;&#x627;&#x647; &#x633;&#x627;&#x62E;&#x62A;&#x645;&#x627;&#x646; &#x647;&#x627; &#x648; &#x62A;&#x62C;&#x647;&#x6CC;&#x632;&#x627;&#x62A; &#x62A;&#x627;&#x628;&#x644;&#x648; &#x647;&#x627;&#x6CC; &#x628;&#x631;&#x642;&#x60C; &#x62F;&#x6CC;&#x632;&#x644;&#x60C; &#x698;&#x646;&#x631;&#x627;&#x62A;&#x648;&#x631; &#x647;&#x627;&#x6CC; &#x645;&#x633;&#x62A;&#x642;&#x631; &#x62F;&#x631; &#x646;&#x642;&#x627;&#x637; &#x645;&#x62E;&#x62A;&#x644;&#x641; &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 300,000,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x627;&#x631;&#x632;&#x634; &#x628;&#x646;&#x627; &#x647;&#x627;&#x6CC; &#x627;&#x632; &#x642;&#x644;&#x645; &#x627;&#x641;&#x62A;&#x627;&#x62F;&#x647;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 150,000,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x627;&#x631;&#x632;&#x634; &#x645;&#x648;&#x62C;&#x648;&#x62F;&#x6CC; &#x627;&#x62B;&#x627;&#x62B;&#x6CC;&#x647; &#x648; &#x62A;&#x62C;&#x647;&#x6CC;&#x632;&#x627;&#x62A; &#x627;&#x62F;&#x627;&#x631;&#x6CC;&#x60C; &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647;&#x6CC;&#x60C; &#x645;&#x62E;&#x627;&#x628;&#x631;&#x627;&#x62A;&#x6CC;&#x60C; &#x633;&#x631;&#x648;&#x631; &#x647;&#x627;&#x6CC; &#x645;&#x633;&#x62A;&#x642;&#x631; &#x62F;&#x631; &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647; &#x628;&#x647; &#x627;&#x646;&#x636;&#x645;&#x627;&#x645; &#x6A9;&#x644;&#x6CC;&#x647; &#x62A;&#x627;&#x633;&#x6CC;&#x633;&#x627;&#x62A; &#x6AF;&#x631;&#x645;&#x627;&#x6CC;&#x634;&#x6CC; &#x648; &#x633;&#x631;&#x645;&#x627;&#x6CC;&#x634;&#x6CC;&#x60C;  &#x622;&#x628; &#x628;&#x631;&#x642; &#x648; &#x6AF;&#x627;&#x632;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 1,000,000,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x647;&#x632;&#x6CC;&#x646;&#x647; &#x67E;&#x627;&#x6A9;&#x633;&#x627;&#x632;&#x6CC;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 400,000,000,000
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            &#x645;&#x633;&#x626;&#x648;&#x644;&#x6CC;&#x62A; &#x645;&#x627;&#x644;&#x6CC; &#x646;&#x627;&#x634;&#x6CC; &#x627;&#x632; &#x622;&#x62A;&#x634; &#x633;&#x648;&#x632;&#x6CC; &#x648; &#x627;&#x646;&#x641;&#x62C;&#x627;&#x631; &#x62F;&#x631; &#x642;&#x628;&#x627;&#x644; &#x647;&#x645;&#x633;&#x627;&#x6CC;&#x6AF;&#x627;&#x646;
                                            <label> : </label>

                                            <label class="abbr">IRR</label> 1,000,000,000,000
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>



                <tr>
                    <td class="row-No">17</td>
                    <td class="row-Name">
                        <span> Loss Limit Comprehensive</span>
                    </td>
                    <td class="row-Dscr">
                        <span>
                            -
                        </span>
                    </td>
                </tr>


                <tr>
                    <td class="row-No">18</td>
                    <td class="row-Name">
                        <span>Deductibles</span>
                    </td>
                    <td class="row-Dscr">
                        <p>Earthquake and Volcanic Eruption:  10% Min IRR 2,000,000 Each And Every Loss  <br />Flood, Storm, tornadoes and Strong Winds, Bursting  or overflowing of Water Tanks, apparatus or pipes, Waste from rainwater and snowmelt, Explosion of under pressure vessels, Deformation of under pressure vessels:  10% Min IRR 1,000,000 Each And Every Loss  <br />Strikes, riots, Civil Commotion and malicious Damage:  30% Min IRR 200,000,000 Each And Every Loss  <br />Broken Glass:  20% Min IRR 1,000,000 Each And Every Loss  <br />Burglary:  20% Min IRR 1,000,000 Each And Every Loss  <br /></p>

                    </td>
                </tr>
                <tr>
                    <td class="row-No">19</td>
                    <td class="row-Name">
                        <span>Additional Cover Limits</span>
                    </td>
                    <td class="row-Dscr">
                        <span>
                            Strikes, riots, Civil Commotion and malicious Damage: IRR 5,000,000,000   Each and every Loss and in the aggregate (As Per Policy). </br>Burglary: IRR 1,000,000,000,000   Each and every Loss and in the aggregate (As Per Policy). </br>Broken Glass: IRR 100,000,000,000   Each and every Loss and in the aggregate (As Per Policy). </br>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">20</td>
                    <td class="row-Name">
                        <span>Rate/Premium</span>
                    </td>
                    <td class="row-Dscr">
                        <span>0.27 per mille /IRR 5,211,096,800</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">21</td>
                    <td class="row-Name">
                        <span>Tax</span>
                    </td>
                    <td class="row-Dscr">
                        -
                    </td>
                </tr>
                <tr>
                    <td class="row-No">22</td>
                    <td class="row-Name">
                        <span>Brokrage</span>
                    </td>
                    <td class="row-Dscr">
                        <span>-</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">23</td>
                    <td class="row-Name">
                        <span>Ceding Co.'s share</span>
                    </td>
                    <td class="row-Dscr">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">24</td>
                    <td class="row-Name">
                        <span>Reinsurance Leader's Name & Share</span>
                    </td>
                    <td class="row-Dscr">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">25</td>
                    <td class="row-Name">
                        <span>Name & Share of other Reinsurers Except The Leader</span>
                    </td>
                    <td class="row-Dscr"></td>
                </tr>
                <tr>
                    <td class="row-No">26</td>
                    <td class="row-Name">
                        <span>Ceding Co.'s share in Consortium</span>
                    </td>
                    <td class="row-Dscr">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">27</td>
                    <td class="row-Name">
                        <span>Consortium Leader's Name & Share</span>
                    </td>
                    <td class="row-Dscr">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">28</td>
                    <td class="row-Name">
                        <span>Name & Share of Other Members Except The Leader</span>
                    </td>
                    <td class="row-Dscr"></td>
                </tr>
                <tr>
                    <td class="row-No">29</td>
                    <td class="row-Name">
                        <span>Proposed Share to Iranian Reinsurance</span>
                    </td>
                    <td class="row-Dscr">
                        <span>
                            Open

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">30</td>
                    <td class="row-Name">
                        <span>Requested Commission</span>
                    </td>
                    <td class="row-Dscr">
                        <span>-</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">31</td>
                    <td class="row-Name">
                        <span>Our Written share (%)</span>
                    </td>
                    <td class="row-Dscr">
                        <span>10</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">32</td>
                    <td class="row-Name">
                        <span>Our Signed Share (%)</span>
                    </td>
                    <td class="row-Dscr">
                        <span>4</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">33</td>
                    <td class="row-Name">
                        <span>Our Loss Limit Comprehensive</span>
                    </td>
                    <td class="row-Dscr">
                        <span>
                            -
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">34</td>
                    <td class="row-Name">
                        <span>Max Share of  Iranian Reinsurance (S.I)</span>
                    </td>
                    <td class="row-Dscr">

                        IRR 766,182,800,000
                    </td>
                </tr>
                <tr>
                    <td class="row-No">35</td>
                    <td class="row-Name">
                        <span>Max Share of  Iranian Reinsurance (Loss limit)</span>
                    </td>
                    <td class="row-Dscr">
                        -
                    </td>
                </tr>
                <tr>
                    <td class="row-No">36</td>
                    <td class="row-Name">
                        <span>Max Share of  Iranian Reinsurance (Additional Cover Limits)</span>
                    </td>
                    <td class="row-Dscr">
                        <span>
                            Strikes, riots, Civil Commotion and malicious Damage: IRR 500,000,000 Each and every Loss and in the aggregate (As Per Policy).</br>Burglary: IRR 100,000,000,000 Each and every Loss and in the aggregate (As Per Policy).</br>Broken Glass: IRR 10,000,000,000 Each and every Loss and in the aggregate (As Per Policy).

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-No">37</td>
                    <td class="row-Name">
                        <span>Our Gross Premium</span>
                    </td>
                    <td class="row-Dscr">
                        IRR 208,443,872
                    </td>
                </tr>

                <tr>
                    <td class="row-No">38</td>
                    <td class="row-Name">
                        <span>Reinsurance Commission</span>
                    </td>
                    <td class="row-Dscr">
                        27 % - IRR 56,279,845
                    </td>
                </tr>
                <tr>
                    <td class="row-No">39</td>
                    <td class="row-Name">
                        <span>Our Net Premium</span>
                    </td>
                    <td class="row-Dscr">
                        IRR 152,164,026
                    </td>
                </tr>
                <tr>
                    <td class="row-No">40</td>
                    <td class="row-Name">
                        <span>Remarks</span>
                    </td>
                    <td class="row-Dscr">
                        <span>-</span><br />
                    </td>


                </tr>

            </tbody>
        </table>
        <br />

        <br />
        <div class="div-signs">
            <p> Authorized Signature:</p>




            <div class="row">
            </div>
            <div class="row">
                Prepared And Checked By : Maede Ramezanpour

            </div>
        </div>
    </div>
    <script src="/AdminDek/js/jquery.min.js?v=dbcH2HYeK_vSX71mHykKT3_RHEjhv1Ojbca9igA0-jU"></script>
    <script src="/AdminDek/js/bootstrap.min.js"></script>
    <script src="/asset/Facultative_Common_Files/report.js?v=AinryyQFhWyfiT-ycU1Vv5cAZEhqM4fjY3pEEWZOOAQ"></script>

    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="17f45d7a315b4bfd8d42a3b2ed6eb32f" data-requestMappingFromServer="false" data-connectUrl="http://localhost:58454/0f0a320fb7b447e794f9d5dfd0cac00b/browserLink"></script>
    <!-- End Browser Link -->
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>