@{
    Layout = null;
}

<style>
    .NOIMAGEAVAILABLE_50 {
        width: 50px !important;
        height: 50px !important;
    }
</style>

<link rel="stylesheet" href="/AdminDek/css/bootstrap.min.css?v=ufobeK9hL4NeNsK351nRWqV0hR8vt91VZUKvXEri1P8" />
<link href="/asset/Facultative_Common_Files/report.css?v=4jkns9SatikKoSLKWkU9h1fRUGN-Vs7Zi0SI5Ob6SX0" rel="stylesheet" />

<div class="container-fluid" style="padding: 1em;margin-left: -5px;">
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold">صورتحساب</p>
        </div>
    </div>
    <div class="row print-border mb-2 p-2" style="direction:rtl">
        <div class="col p-3">
            <div class="row text-right right-direction">
                <div class="col">
                    <p class="font-weight-bold">
                        بیمه گر اتکایی
                    </p>
                </div>
            </div>
            <div class="row text-right right-direction">

                <div class="col col-4">
                    نام شرکت : &#x628;&#x6CC;&#x645;&#x647; &#x627;&#x62A;&#x6A9;&#x627;&#x6CC;&#x6CC; &#x627;&#x6CC;&#x631;&#x627;&#x646;&#x6CC;&#x627;&#x646;
                </div>
                <div class="col col-4">
                    کد اقتصادی: 10320202522
                </div>
                <div class="col col-4">شناسه ملی : 10320202522	</div>

            </div>
            <div class="row text-right right-direction">
                <div class="col-4">
                    آدرس : &#x62A;&#x647;&#x631;&#x627;&#x646; &#x62E;&#x6CC;&#x627;&#x628;&#x627;&#x646; &#x645;&#x644;&#x627;&#x635;&#x62F;&#x631;&#x627; &#x62E;&#x6CC;&#x627;&#x628;&#x627;&#x646; &#x634;&#x6CC;&#x631;&#x627;&#x632; &#x634;&#x645;&#x627;&#x644;&#x6CC; &#x62E;&#x6CC;&#x627;&#x628;&#x627;&#x646; &#x632;&#x627;&#x6CC;&#x646;&#x62F;&#x647; &#x631;&#x648;&#x62F; &#x67E;&#x644;&#x627;&#x6A9; 5
                </div>
                <div class="col-4">
                    کد پستی: 1991634491
                </div>
                <div class="col-4">
                    تلفن : 88628611
                </div>
            </div>
        </div>
        <div class="col-1 p-2 text-left">
            <img src="/images/system/logo.jpg" width="50" height="50" onerror="set_NOIMAGEAVAILABLE(this,'NOIMAGEAVAILABLE_50');" />
        </div>

    </div>
    <div class="row print-border mb-2 p-2" style="direction:rtl">

        <div class="col p-3">
            <div class="row text-right right-direction">
                <div class="col">
                    <p class="font-weight-bold">
                        بیمه گر واگذارنده
                    </p>
                </div>
            </div>
            <div class="row  text-right right-direction">

                <div class="col col-4">
                    نام شرکت : &#x628;&#x6CC;&#x645;&#x647; &#x62A;&#x639;&#x627;&#x648;&#x646;
                </div>
                <div class="col col-4">
                    کد اقتصادی: 10320839651
                </div>
                <div class="col col-4">
                    شناسه ملی : 10320839651
                </div>
            </div>
            <div class="row  text-right right-direction">
                <div class="col col-4">
                    آدرس : &#x62E; &#x642;&#x627;&#x626;&#x645; &#x645;&#x642;&#x627;&#x645; &#x641;&#x631;&#x627;&#x647;&#x627;&#x646;&#x6CC;-&#x6A9;&#x648;&#x686;&#x647; &#x634;&#x634;&#x645; -&#x67E;22
                </div>
                <div class="col col-4">
                    کد پستی: 1586843911
                </div>
                <div class="col col-4">
                    تلفن : 88547806
                </div>
            </div>
        </div>
    </div>

    <div class="row print-border mb-1">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <span class="font-weight-bold">Acceptance No.:</span>
                    4-402/FA-0/FR/460/909
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Reference Code:</span>
                    ACC20240064
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="font-weight-bold">Statement of Account No.:</span>
                    1286
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Date:</span>
                    4/30/2024 (1403/02/11)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1 print-border">
        <div class="col-6 border-right">
            <div class="row  ">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Ceding Co.:</span>
                            Ta&#x27;avon Insurance Company
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">In Account with:</span>
                            Ta&#x27;avon Insurance Company
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Broker:</span>
                            -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Original Insured:</span>
                            &#x634;&#x631;&#x6A9;&#x62A; &#x633;&#x647;&#x627;&#x645;&#x6CC; &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647; &#x647;&#x627;&#x6CC; &#x628;&#x6CC;&#x646; &#x627;&#x644;&#x645;&#x644;&#x644;&#x6CC;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Class of Business:</span>
                            Fire and Allied Perils
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Business/Interest:</span>
                            &#x646;&#x645;&#x627;&#x6CC;&#x634;&#x6AF;&#x627;&#x647; &#x62F;&#x627;&#x626;&#x645;&#x6CC; &#x628;&#x6CC;&#x646; &#x627;&#x644;&#x645;&#x644;&#x644;&#x6CC;
                            / -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Document Ref.:</span>
                            email Dated 4/29/2024 (1403/02/10)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 ">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Policy No.:</span>
                            02/3593/2269/1101/1
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Cedant Ref.:</span>
                            email
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Slip No. & Date:</span>
                            1402/010 Dated 1/23/2024 (1402/11/03)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">
                                Period:
                            </span>
                            365 Days 1/14/2024(1402/10/24) To 1/13/2025(1403/10/24)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Period of R/I Coverage:</span>
                            365 Days 1/14/2024(1402/10/24) To 1/13/2025(1403/10/24)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Currency:</span>
                            IRR
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Settlement Currency:</span>
                            IRR
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Exchange Rate:</span>
                            -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Sum Insured:</span>
                            IRR 19,154,570,000,000
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Loss Limit:</span>
                            -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">

                                Premium:
                            </span>
                            IRR 5,211,096,800


                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">
                                Premium of R/I Coverage Period:
                            </span>
                            IRR 5,211,096,800

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row print-border mb-1">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <span class="font-weight-bold">Our Signed Share:	</span>
                    4%
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">
                        R/I Commission:
                    </span>
                    27%
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <span class="font-weight-bold">Sum Insured:</span>
                    IRR 766,182,800,000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="font-weight-bold">

                        Premium:
                    </span>
                    IRR 208,443,872
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <span class="font-weight-bold">Subject of this Statement of Account :	</span>
                    Premium of above policy
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col" style="padding:0 !important;">
            <table class="content-table">
                <thead>
                    <tr class="data-header">
                        <th class="row-Name">Description</th>
                        <th class="row-Name">Debit</th>
                        <th class="row-Name">Credit</th>
                    </tr>
                </thead>
                <tbody class="data-body">

                    <tr id="232309">
                        <td><span>Our Premium</span></td>
                        <td> 208,443,872</td>
                        <td> </td>
                    </tr>
                    <tr id="232310">
                        <td><span>Commission</span></td>
                        <td> </td>
                        <td> 56,279,845</td>
                    </tr>
                    <tr>


                        <td>
                            <span>Balance (Due to us) :</span>
                        </td>
                        <td>
                            <b> </b>
                        </td>

                        <td>
                            <b> 152,164,027</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            <span>Total: IRR</span>
                        </td>
                        <td>
                            208,443,872
                        </td>
                        <td>208,443,872</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row print-border">
        <div class="col">

            <p>
                <span> Value Added Tax: VAT 1402 (9 Pct.)	due to you:  IRR 5,065,186</span>
            </p>

        </div>
    </div>

    <div class="row mb-1">
        <div class="col">

            <p>

            </p>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p> Prepared and checked by: Maede Ramezanpour	</p>

                </div>
                <div class="col text-right right-direction">
                    <p class="font-weight-bold">
                        Iranian Reinsurance
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/AdminDek/js/jquery.min.js?v=dbcH2HYeK_vSX71mHykKT3_RHEjhv1Ojbca9igA0-jU"></script>
<script>

    $(document).ready(function (e) {
        $("span,td.row-Dscr p").each(function (e) {


            var myval = $(this).html();
            if (myval == null || myval.length == 0) {    /**/
                return;
            }
            var isRTL = checkRTL(String.fromCharCode($(this).html().replace(/[^\p{Alpha}']/gu, '').charCodeAt(0)));
            if (isRTL == true) {
                $(this).parent().addClass("text-right");
                $(this).parent().addClass("left-direction");

            }
            else {
                $(this).parent().addClass("text-left");
            }
            //$('.form-control.custom-date').css('text-align', "left !important");
            //$('.form-control.money').css('text-align', "left !important");
            //}
        });
        function checkRTL(s) {
            var ltrChars = 'A-Za-z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u02B8\u0300-\u0590\u0800-\u1FFF' + '\u2C00-\uFB1C\uFDFE-\uFE6F\uFEFD-\uFFFF',
                rtlChars = '\u0591-\u07FF\uFB1D-\uFDFD\uFE70-\uFEFC',
                rtlDirCheck = new RegExp('^[^' + ltrChars + ']*[' + rtlChars + ']');

            return rtlDirCheck.test(s);
        };
    });

</script>
